<br />
<h2 class="text-center text-uppercase">Actualización de Vehicle</h2>
<br />
<div class="container">
  <div class="row">
    <form (ngSubmit)="updateReservation()">
      <div *ngIf="reservation">
        <!--*************** ATTRIBUTE 1 ***************-->
        <div class="form-group mb-3 row">
          <label for="startDate" class="col-sm-2 col-form-label">
            Start Date of Reservation :
          </label>
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              placeholder="Start Date of Reservation"
              required
              [(ngModel)]="reservation.startDate"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 1 ***************-->
        <!--*************** ATTRIBUTE 2 ***************-->
        <div class="form-group mb-3 row">
          <label for="endDate" class="col-sm-2 col-form-label">
            End Date of Reservation :
          </label>
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="endDate"
              name="endDate"
              placeholder="End Date of Reservation"
              required
              [(ngModel)]="reservation.endDate"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 2 ***************-->
        <!--*************** ATTRIBUTE 3 ***************-->
        <div class="form-group mb-3 row">
          <label for="reservationPrice" class="col-sm-2 col-form-label">
            Reservation Price :
          </label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="reservationPrice"
              name="reservationPrice"
              placeholder="Price of Reservation"
              required
              [(ngModel)]="reservation.reservationPrice"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 3 ***************-->
        <!--*************** ATTRIBUTE 4 ***************-->
        <div class="form-group mb-3 row">
          <label for="customerId" class="col-sm-2 col-form-label">
            Customer Id :
          </label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="customerId"
              name="customerId"
              placeholder="Customer Id"
              required
              [(ngModel)]="reservation.customer.id"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 4 ***************-->
        <!--*************** ATTRIBUTE 5 ***************-->
        <div class="form-group mb-3 row">
          <label for="vehicleId" class="col-sm-2 col-form-label">
            Vehicle Id :
          </label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="vehicleId"
              name="vehicleId"
              placeholder="Vehicle Id"
              required
              [(ngModel)]="reservation.vehicle.id"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 5 ***************-->
      </div>
      <!--*************** BUTTON ***************-->
      <div class="d-grid col-2 mx-auto">
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
      <!--*************** END BUTTON ***************-->
    </form>
  </div>
</div>
