<br />
<h2 class="text-center text-uppercase">Search Comments</h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="col-md">
      <form class="form-floating" (ngSubmit)="searchCommentById()">
        <input
          type="text"
          class="form-control"
          id="id"
          name="id"
          required
          [(ngModel)]="id"
          placeholder="Search Comment by Id"
        />
        <label class="form-control-plaintext" for="id">Id :</label>

        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
        <div class="card mx-auto" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="comment">
              {{ comment.id }} - {{ comment.content }}
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
    <div class="col-md">
      <form (ngSubmit)="searchCommentByPublicationDate()">
        <input
          type="text"
          class="form-control"
          id="publicationDate"
          name="publicationDate"
          required
          [(ngModel)]="publicationDate"
          placeholder="Search Comment By Publication Date"
        />
        <label class="form-control-plaintext" for="startDate">
          Publication Date :
        </label>
        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>

        <div class="card mx-auto text-center" style="width: rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let comment of comments">
              <h4>
                {{ comment.id }} - {{ comment.publicationDate }} -
                {{ comment.content }}
              </h4>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
  </div>
</div>
