<!--**************************************** NAVBAR ****************************************-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">WheelManager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <!--**************************************** BRAND ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            BRANDS
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListBrand"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewBrand"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="SearchBrand"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END BRAND ****************************************-->
        <!--**************************************** VEHICLE TYPE ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            VEHICLE TYPE
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="ListVehicleType"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="NewVehicleType"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchVehicleType"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END VEHICLE TYPE ****************************************-->
        <!--**************************************** STATUS ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            STATUSES
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListStatus"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewStatus"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="SearchStatus"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END STATUS ****************************************-->
        <!--**************************************** CUSTOMER ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            CUSTOMER
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListCustomer"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewCustomer"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchCustomer"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END CUSTOMER ****************************************-->
        <!--**************************************** VEHICLE ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            VEHICLE
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListVehicle"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewVehicle"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchVehicle"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END VEHICLE ****************************************-->
        <!--**************************************** RESERVATION ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            RESERVATION
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="ListReservation"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="NewReservation"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchReservation"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END RESERVATION ****************************************-->
        <!--**************************************** OFFER ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            OFFER
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListOffer"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewOffer"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="SearchOffer"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END OFFER ****************************************-->
        <!--**************************************** ADDRESS ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ADDRESS
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListAddress"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewAddress"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchAddress"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END ADDRESS ****************************************-->
        <!--**************************************** COMMENT ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            COMMENT
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="ListComment"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="nav-link" routerLink="NewComment"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchComment"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END COMMENT ****************************************-->
        <!--**************************************** USER ADDRESS ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            USER ADDRESS
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="ListUserAddress"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="NewUserAddress"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchUserAddress"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END USER ADDRESS ****************************************-->
        <!--**************************************** CREDIT CARD ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            CREDIT CARD
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="ListCreditCard"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="NewCreditCard"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchCreditCard"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END CREDIT CARD ****************************************-->
        <!--**************************************** RENT ****************************************-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          RENT
          </a>
          <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="ListRent"
                >List</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="NewRent"
                >New</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href="nav-link"
                routerLink="SearchRent"
                >Search</a
              >
            </li>
          </ul>
        </li>
        <!--**************************************** END RENT ****************************************-->
      </ul>
    </div>
  </div>
</nav>
<!--**************************************** END NAVBAR ****************************************-->
<router-outlet></router-outlet>
