<br />
<h2 class="text-center text-uppercase">Search Subscription</h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="col-md">
      <form class="form-floating" (ngSubmit)="searchSubscriptionById()">
        <input
          type="text"
          class="form-control"
          id="id"
          name="id"
          required
          [(ngModel)]="id"
          placeholder="Search Subscription by Id"
        />
        <label class="form-control-plaintext" for="id">Id :</label>
        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
        <div class="card mx-auto" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="subscription">
              {{ subscription.id }} - {{ subscription.description}}
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
    <div class="col-md">
      <form class="form-floating" (ngSubmit)="searchSubscriptionBystartDate()">
        <input
          type="text"
          class="form-control"
          id="subscriptionstartDate"
          name="subscriptionstartDate"
          required
          [(ngModel)]="subscriptionStartDate"
          placeholder="Search Subscription by Subscription startDate"
        />
        <label class="form-control-plaintext" for="subscriptionstartDate">
          Subscription startDate :
        </label>
        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
        <div class="card mx-auto" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let subscription of subscriptions">
              <h4>{{ subscription.id }} - {{ subscription.startDate }}</h4>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>