<br />
<h2 class="text-center text-uppercase">Search User Renta Activities</h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="col-md">
      <form class="form-floating" (ngSubmit)="searchRentalActivitiesById()">
        <input
          type="number"
          class="form-control"
          id="id"
          name="id"
          required
          [(ngModel)]="id"
          placeholder="Search User Address by Id"
        />
        <label class="form-control-plaintext" for="id">Id :</label>

        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
        <div class="card mx-auto" style="width: 18rem">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="rentalActivity">
              {{ rentalActivity.id }} - {{ rentalActivity.price }} -
              {{ rentalActivity.offer.offerName }}
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
  </div>
</div>
