<br />
<h2 class="text-center text-uppercase">Registration of Vehicle</h2>
<br />
<div class="container">
  <div class="row">
    <form (ngSubmit)="insertVehicle()">
      <!--*************** ATTRIBUTE 1 ***************-->
      <div>
        <input
          type="hidden"
          id="VehicleId"
          name="VehicleId"
          required
          [(ngModel)]="vehicle.id"
        />
      </div>
      <!--*************** END ATTRIBUTE 1 ***************-->
      <!--*************** ATTRIBUTE 2 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleName" class="col-sm-2 col-form-label">
          Vehicle Name :
        </label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="vehicleName"
            name="vehicleName"
            placeholder="Vehicle Name"
            required
            [(ngModel)]="vehicle.vehicleName"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 2 ***************-->
      <!--*************** ATTRIBUTE 3 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleImageUrl" class="col-sm-2 col-form-label">
          Image Url :
        </label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="vehicleImageUrl"
            name="vehicleImageUrl"
            placeholder="Image Url"
            required
            [(ngModel)]="vehicle.imageUrl"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 3 ***************-->
      <!--*************** ATTRIBUTE 4 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleScore" class="col-sm-2 col-form-label">
          Score :
        </label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="vehicleScore"
            name="vehicleScore"
            placeholder="Score"
            required
            [(ngModel)]="vehicle.score"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 4 ***************-->
      <!--*************** ATTRIBUTE 5 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleDescription" class="col-sm-2 col-form-label">
          Description :
        </label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="vehicleDescription"
            name="vehicleDescription"
            placeholder="Description"
            required
            [(ngModel)]="vehicle.description"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 5 ***************-->
      <!--*************** ATTRIBUTE 6 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleCustomerId" class="col-sm-2 col-form-label">
          Customer Id :
        </label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="vehicleCustomerId"
            name="vehicleCustomerId"
            placeholder="Customer Id"
            required
            [(ngModel)]="vehicle.customer.id"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 6 ***************-->
      <!--*************** ATTRIBUTE 7 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleStatusId" class="col-sm-2 col-form-label">
          Status Id :
        </label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="vehicleStatusId"
            name="vehicleStatusId"
            placeholder="Status Id"
            required
            [(ngModel)]="vehicle.status.id"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 7 ***************-->
      <!--*************** ATTRIBUTE 8 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleVehicleTypeId" class="col-sm-2 col-form-label">
          Vehicle Type Id :
        </label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="vehicleVehicleTypeId"
            name="vehicleVehicleTypeId"
            placeholder="Vehicle Type Id"
            required
            [(ngModel)]="vehicle.vehicleType.id"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 8 ***************-->
      <!--*************** ATTRIBUTE 9 ***************-->
      <div class="form-group mb-3 row">
        <label for="vehicleBrandId" class="col-sm-2 col-form-label">
          Brand Id :
        </label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="vehicleBrandId"
            name="vehicleBrandId"
            placeholder="Brand Id"
            required
            [(ngModel)]="vehicle.brand.id"
          />
        </div>
      </div>
      <!--*************** END ATTRIBUTE 9 ***************-->
      <!--*************** BUTTON ***************-->
      <div class="d-grid col-2 mx-auto">
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
      <!--*************** END BUTTON ***************-->
    </form>
  </div>
</div>
